/* Write your code here: */


/* here we are using grouping selectors to select the element very specifically*/
h1,h2{
    color: blueviolet ;
}

.box>p{
    color:firebrick;
}

.box li{
    color:blue;
}

li.done{
    color: seagreen;
}

ul p.done{
    font-size: 0.5rem;
}