/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}


p {
  color: yellow;
  margin: 0;
  padding: 0;
}
/* without changing the existing css i applied and learned the cascading */
p{
  color:white;
}


#in-box1{
  background-color:red;
  
}

#in-box2{
  background-color: red;
}

#outer-box{
  background-color: purple;
}